FLAG_01=FLAG{auth_bypass_tautology_1n_where_clause}
FLAG_02=FLAG{union_based_column_matching}
FLAG_03=FLAG{error_based_extractvalue_xpath_trick}
FLAG_04=FLAG{waf_blacklist_case_and_comment_bypass}
FLAG_05=FLAG{multi_param_context_switch_injection}
FLAG_06=FLAG{boolean_blind_binary_search}
